@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.container{
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.card{
    background-color: rgb(243, 236, 236);
    padding: 18px;
    text-align: center;
    border-radius: 15px;
    
}
.card img{
    width: 100%;
    border-radius: 15px;

}
.card text{
    padding: 22px 10px;
}
.text h1{
   color: hsl(218, 44%, 22%);
}
.text p{
    color: hsl(220, 15%, 55%);
}